.tab-inner{
    width:700px;
    margin: 50px auto;

}

.tab-btn a{
    background-color: black;
    color:white;
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 10px;
    margin-right: -2px;
    font-weight: 500;
    text-transform: uppercase;
}
.tab-content{
    position: relative;
}
.tab{
    position:absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}
.tab h2{
    text-transform: uppercase;
}
.tab p{
    text-transform: uppercase;
}
.tab:target{
    opacity: 1;
}
